.logo {
  height: fit-content;
  display: flex;
  align-items: center;

  &.large {
    width: 100px;

    svg {
      width: 100px;
    }
  }

  &.medium {
    width: 80px;

    svg {
      width: 80px;
    }
  }
}