.container {
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto calc(100% - 88px);
  gap: 16px;
  grid-template-areas:
    "Player Game"
    "Players Chat";
}

.playersPanel {
  grid-area: Players;
}

.chatPanel {
  grid-area: Chat;
}

.playerStatePanel {
  grid-area: Player;
}

.gameStatePanel {
  grid-area: Game;
}