.container {
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr;
  gap: 16px;
  grid-template-areas:
    "Role Period"
    "Players Chat";
}

.block {
  &:nth-child(1) {
    grid-area: Players;
  }

  &:nth-child(2) {
    grid-area: Chat;
  }

  &:nth-child(3) {
    grid-area: Role;
  }

  &:nth-child(4) {
    grid-area: Period;
  }
}