:root {
  --bg-main-base: #EFF2F5;
  --bg-main-light: #FFFFFF;
  --field-border: #DFE5EC;
  --field-color: #4C6580;
  --field-hover: #9FB2C6;
  --field-focus: #8099B3;
  --text-base: #0A0D10;
  --text-light: #4C6580;
  --text-success: #2AA248;
  --text-error: #FF3A30;
  --text-disable: #9FB2C6;
  --text-secondary: #263340;
  --button-secondary-border: #8099B3;
  --button-secondary-border-hover: #4C6580;
  --button-secondary-border-active: #394C60;
  --button-primary-bg: #007BFF;
  --button-primary-bg-hover: #0063CC;
  --button-primary-bg-active: #004A99;
  --text-on-color: #FFF;

  &[data-theme="dark"] {
    --bg-main-base: #12171C;
    --bg-main-light: #171E26;
    --field-border: #263340;
    --field-color: #FFF;
    --field-hover: #8099B3;
    --field-focus: #9FB2C6;
    --text-base: #FFF;
    --text-light: #9FB2C6;
    --text-success: #58DA79;
    --text-error: #FF443A;
    --text-disable: #4C6580;
    --text-secondary: #DFE5EC;
    --button-secondary-border: #8099B3;
    --button-secondary-border-hover: #9FB2C6;
    --button-secondary-border-active: #BFCCD9;
    --button-primary-bg-hover: #3399FF;
    --button-primary-bg-active: #66B2FF;
    --button-primary-bg: #0A85FF;
    --text-on-color: #FFF;
  }
}

