@import 'reset';
@import 'colors';
@import 'vars';
@import 'mixins';

* {
  font-family: 'Karla', sans-serif;
}

.fieldsWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.formButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}