:root {
  --text-base: #0A0D10;
  --text-secondary: #263340;
  --text-light: #4C6580;
  --text-disable: #9FB2C6;
  --text-on-color: #FFFFFF;
  --text-btn-primary-disable: #99CAFF;
  --text-btn-secondary-default: #007BFF;
  --text-btn-secondary-hover: #0063CC;
  --text-btn-secondary-pressed: #004A99;
  --text-btn-secondary-disable: #99CAFF;
  --text-btn-tertiary-default: #8099B3;
  --text-btn-tertiary-hover: #4C6580;
  --text-btn-tertiary-pressed: #394C60;
  --text-btn-tertiary-disable: #BFCCD9;
  --text-link: #32ADE6;
  --text-error: #FF3A30;
  --text-warning: #FF9500;
  --text-success: #34C759;

  --icon-on-color: #FFFFFF;
  --icon-primary-default: #007BFF;
  --icon-primary-hover: #0063CC;
  --icon-primary-pressed: #004A99;
  --icon-primary-disable: #99CAFF;
  --icon-secondary-default: #007BFF;
  --icon-secondary-hover: #0063CC;
  --icon-secondary-pressed: #004A99;
  --icon-secondary-disable: #99CAFF;
  --icon-tertiary-default: #8099B3;
  --icon-tertiary-hover: #4C6580;
  --icon-tertiary-pressed: #394C60;
  --icon-tertiary-disable: #DFE5EC;
  --icon-link: #32ADE6;
  --icon-error: #FF3A30;
  --icon-warning: #FF9500;
  --icon-success: #34C759;
  --icon-black: #0A0D10;
  --icon-black-only: #000000;

  --bg-base: #FFFFFF;
  --bg-light: #EFF2F5;
  --bg-bright: #DFE5EC;
  --bg-contrast: #BFCCD9;
  --bg-additionaly: #9FB2C6;
  --bg-primary-default: #007BFF;
  --bg-primary-hover: #0063CC;
  --bg-primary-pressed: #004A99;
  --bg-primary-disable: #E5F2FF;
  --bg-secondary-default: #E5F2FF;
  --bg-secondary-hover: #CCE5FF;
  --bg-secondary-pressed: #99CAFF;
  --bg-secondary-disable: #E5F2FF;
  --bg-tertiary-default: #8099B3;
  --bg-tertiary-hover: #4C6580;
  --bg-tertiary-pressed: #394C60;
  --bg-tertiary-disable: #BFCCD9;
  --bg-error: #FF3A30;

  --bg-st-cyan: #32ADE6;
  --bg-st-red: #FF3A30;
  --bg-st-green: #34C759;
  --bg-st-orange: #FF9500;
  --bg-st-purple: #AF52DE;
  --bg-st-brown: #A2855E;
  --bg-st-indigo: #5856D6;
  --bg-st-mint: #00C7BD;
  --bg-st-pink: #FF2D53;
  --bg-st-teal: #30B0C7;
  --bg-st-yellow: #FFCC00;
  --bg-st-blue: #007BFF;

  --bg-sb-gray: rgba(128, 153, 179, 0.10);
  --bg-sb-gray-l: rgba(128, 153, 179, 0.05);
  --bg-sb-cyan: rgba(50, 173, 230, 0.10);
  --bg-sb-red: rgba(255, 58, 48, 0.10);
  --bg-sb-green: rgba(52, 199, 89, 0.10);
  --bg-sb-orange: rgba(255, 149, 0, 0.10);
  --bg-sb-purple: rgba(175, 82, 222, 0.10);
  --bg-sb-brown: rgba(162, 133, 94, 0.10);
  --bg-sb-indigo: rgba(88, 86, 214, 0.10);
  --bg-sb-mint: rgba(0, 199, 189, 0.10);
  --bg-sb-pink: rgba(255, 45, 83, 0.10);
  --bg-sb-teal: rgba(48, 176, 199, 0.10);
  --bg-sb-yellow: rgba(255, 204, 0, 0.10);
  --bg-sb-blue: rgba(0, 123, 255, 0.10);

  --border-base: #FFFFFF;
  --border-light: #EFF2F5;
  --border-bright: #DFE5EC;
  --border-contrast: #BFCCD9;
  --border-additionaly: #9FB2C6;
  --border-primary-default: #007BFF;
  --border-primary-hover: #0063CC;
  --border-primary-pressed: #004A99;
  --border-primary-disable: #E5F2FF;
  --border-secondary-default: #E5F2FF;
  --border-secondary-hover: #CCE5FF;
  --border-secondary-pressed: #99CAFF;
  --border-secondary-disable: #E5F2FF;
  --border-tertiary-default: #8099B3;
  --border-tertiary-hover: #4C6580;
  --border-tertiary-pressed: #394C60;
  --border-tertiary-disable: #BFCCD9;
  --border-error: #FF3A30;
  --border-green: #34C759;

  &[data-theme="dark"] {
    --text-base: #FFFFFF;
    --text-secondary: #DFE5EC;
    --text-light: #9FB2C6;
    --text-disable: #4C6580;
    --text-on-color: #FFFFFF;
    --text-btn-primary-disable: #003366;
    --text-btn-secondary-default: #0A85FF;
    --text-btn-secondary-hover: #3399FF;
    --text-btn-secondary-pressed: #66B2FF;
    --text-btn-secondary-disable: #003366;
    --text-btn-tertiary-default: #8099B3;
    --text-btn-tertiary-hover: #9FB2C6;
    --text-btn-tertiary-pressed: #BFCCD9;
    --text-btn-tertiary-disable: #394C60;
    --text-link: #64D3FF;
    --text-error: #FF443A;
    --text-warning: #FF9D0A;
    --text-success: #30D158;

    --icon-on-color: #FFFFFF;
    --icon-primary-default: #0A85FF;
    --icon-primary-hover: #3399FF;
    --icon-primary-pressed: #66B2FF;
    --icon-primary-disable: #003366;
    --icon-secondary-default: #0A85FF;
    --icon-secondary-hover: #3399FF;
    --icon-secondary-pressed: #66B2FF;
    --icon-secondary-disable: #003366;
    --icon-tertiary-default: #8099B3;
    --icon-tertiary-hover: #9FB2C6;
    --icon-tertiary-pressed: #BFCCD9;
    --icon-tertiary-disable: #263340;
    --icon-link: #64D3FF;
    --icon-error: #FF443A;
    --icon-warning: #FF9D0A;
    --icon-success: #30D158;
    --icon-black: #FFFFFF;
    --icon-black-only: #000000;

    --bg-base: #0E1216;
    --bg-light: #131920;
    --bg-bright: #263340;
    --bg-contrast: #394C60;
    --bg-additionaly: #4C6580;
    --bg-primary-default: #0A85FF;
    --bg-primary-hover: #3399FF;
    --bg-primary-pressed: #66B2FF;
    --bg-primary-disable: #001224;
    --bg-secondary-default: #001224;
    --bg-secondary-hover: #001933;
    --bg-secondary-pressed: #003366;
    --bg-secondary-disable: #001224;
    --bg-tertiary-default: #8099B3;
    --bg-tertiary-hover: #9FB2C6;
    --bg-tertiary-pressed: #BFCCD9;
    --bg-tertiary-disable: #394C60;
    --bg-error: #FF443A;

    --bg-st-cyan: #64D3FF;
    --bg-st-red: #FF443A;
    --bg-st-green: #30D158;
    --bg-st-orange: #FF9D0A;
    --bg-st-purple: #BF5AF2;
    --bg-st-brown: #AC8E68;
    --bg-st-indigo: #5E5CE6;
    --bg-st-mint: #66D4CF;
    --bg-st-pink: #FF375F;
    --bg-st-teal: #40C8E0;
    --bg-st-yellow: #FFD60A;
    --bg-st-blue: #0A85FF;

    --bg-sb-gray: rgba(128, 153, 179, 0.10);
    --bg-sb-gray-l: rgba(128, 153, 179, 0.05);
    --bg-sb-cyan: rgba(100, 211, 255, 0.10);
    --bg-sb-red: rgba(255, 68, 58, 0.10);
    --bg-sb-green: rgba(48, 209, 88, 0.10);
    --bg-sb-orange: rgba(255, 157, 10, 0.10);
    --bg-sb-purple: rgba(191, 90, 242, 0.10);
    --bg-sb-brown: rgba(172, 142, 104, 0.10);
    --bg-sb-indigo: rgba(94, 92, 230, 0.10);
    --bg-sb-mint: rgba(102, 212, 207, 0.10);
    --bg-sb-pink: rgba(255, 55, 95, 0.10);
    --bg-sb-teal: rgba(64, 200, 224, 0.10);
    --bg-sb-yellow: rgba(255, 214, 10, 0.10);
    --bg-sb-blue: rgba(10, 133, 255, 0.10);

    --border-base: #0E1216;
    --border-light: #131920;
    --border-bright: #263340;
    --border-contrast: #394C60;
    --border-additionaly: #4C6580;
    --border-primary-default: #0A85FF;
    --border-primary-hover: #3399FF;
    --border-primary-pressed: #66B2FF;
    --border-primary-disable: #001224;
    --border-secondary-default: #001224;
    --border-secondary-hover: #001933;
    --border-secondary-pressed: #003366;
    --border-secondary-disable: #001224;
    --border-tertiary-default: #8099B3;
    --border-tertiary-hover: #9FB2C6;
    --border-tertiary-pressed: #BFCCD9;
    --border-tertiary-disable: #394C60;
    --border-error: #FF443A;
    --border-green: #30D158;
  }
}
