.input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--border-bright);
  background: transparent;
  font-family: Karla, sans-serif;
  padding: 0 12px;
  color: var(--text-light);
  width: 100%;
  transition: var(--transition);

  &:hover {
    border: 1px solid var(--border-additionaly);
  }

  &:focus-within {
    border: 1px solid var(--border-tertiary-pressed);
    outline: unset;
  }
}