.input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--field-border);
  background: transparent;
  font-family: Karla, sans-serif;
  padding: 0 12px;
  color: var(--field-color);
  width: 100%;
  transition: var(--transition);

  &:hover {
    border: 1px solid var(--field-hover);
  }

  &:focus-within {
    border: 1px solid var(--field-focus);
    outline: unset;
  }
}