.button {
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  outline: unset;
  cursor: pointer;
  transition: var(--transition);
  border: unset;
  background: unset;

  &.s {
    height: 32px;
    font-size: 14px;
  }

  &.xs {
    height: 30px;
    font-size: 12px;
    padding: 0 12px;
  }

  &.primary {
    background-color: var(--bg-primary-default);
    color: var(--text-on-color);

    &:hover {
      background-color: var(--bg-primary-hover);
    }

    &:active {
      background-color: var(--bg-primary-pressed);
    }

    &.disabled {
      background-color: var(--bg-primary-disable);
      color: var(--text-btn-primary-disable);
    }
  }

  &.secondary {
    background-color: var(--bg-secondary-default);
    color: var(--text-btn-secondary-default);

    &:hover {
      background-color: var(--bg-secondary-hover);
      color: var(--text-btn-secondary-hover);
    }

    &:active {
      background-color: var(--bg-secondary-pressed);
      color: var(--text-btn-secondary-pressed);
    }

    &.disabled {
      background-color: var(--bg-secondary-disable);
      color: var(--text-btn-secondary-disable);
    }
  }

  &.secondary-transparent {
    height: unset;
    color: var(--text-btn-secondary-default);
    padding: 0;

    &:hover {
      color: var(--text-btn-secondary-hover);
    }

    &:active {
      color: var(--text-btn-secondary-pressed);
    }
  }

  &.tertiary {
    border: 1px solid var(--border-tertiary-default);
    color: var(--text-base);

    &:hover {
      border: 1px solid var(--border-tertiary-hover);
    }

    &:active {
      border: 1px solid var(--border-tertiary-pressed);
    }
  }

  &.danger {
    background-color: var(--bg-sb-red);
    color: var(--bg-st-red);

    &:hover {
      background-color: var(--bg-st-red);
      color: var(--text-on-color);
    }
  }
}