.modalWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(8px);
  background: #2e2e2e80;
}

.modalWindowContent {
  width: 500px;
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0 4px 5px #0000001f;
}