.tableConstructor {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 55px;

  &.disabled {
    opacity: .7;
    pointer-events: none;
    border: 1px solid var(--border-additionaly);
  }
}

.columnsWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rowExpansion {
  display: flex;
  justify-content: end;
}