.container {
  background-color: var(--bg-light);
  height: 100vh;
  padding: 16px;
  display: grid;
  grid-template-columns: 85px 1.3fr 1.4fr;
  grid-template-rows: 65px 2.8fr 2.9fr;
  gap: 16px;
  grid-template-areas:
    "Header Header Header"
    "Sidebar Content Content"
    "Sidebar Content Content";
}

.header {
  grid-area: Header;
}

.sidebar {
  grid-area: Sidebar;
}

.content {
  grid-area: Content;
}